@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icon/fonts/icomoon.eot?481nec');
  src:  url('../fonts/icon/fonts/icomoon.eot?481nec#iefix') format('embedded-opentype'),
    url('../fonts/icon/fonts/icomoon.ttf?481nec') format('truetype'),
    url('../fonts/icon/fonts/icomoon.woff?481nec') format('woff'),
    url('../fonts/icon/fonts/icomoon.svg?481nec#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak-as: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-cheveron-down:before {
  content: "\e90a";
}
.icon-chevron-small-down:before {
  content: "\e90b";
}
.icon-chevron-thin-right:before {
  content: "\e907";
}
.icon-chevron-thin-left:before {
  content: "\e908";
}
.icon-error:before {
  content: "\e90c";
}
.icon-report:before {
  content: "\e909";
}
.icon-check:before {
  content: "\e90d";
}
.icon-check_box:before {
  content: "\e90e";
}
.icon-circle:before {
  content: "\e901";
}
.icon-chevron-right:before {
  content: "\e902";
}
.icon-chevron-left:before {
  content: "\e903";
}
.icon-circle-full:before {
  content: "\e900";
}
.icon-check-square:before {
  content: "\e90f";
}
.icon-circle1:before {
  content: "\e904";
}
.icon-chevron-right1:before {
  content: "\e905";
}
.icon-chevron-left1:before {
  content: "\e906";
}
